   /* Styles for header */
   .container{
    display: flex;
    flex-direction: column;
    }

    .right-align{
        position: absolute;
        bottom: 300px;
        right: 100px;
        top: 100px;
        font-size: 90px;
        font-weight: bold;
        color: black;
        margin-left: 600px;
        text-align: right;
       }

       .just{
        position: absolute;
        text-align: right;
        font-size: 20px;
        bottom: 240px;
        right: 100px;
        margin-left:900px;
       } 

       .btn{
        position: absolute;
        font-size: 26px;
        color: white;
        padding:12px;
        bottom: 120px;
        right:100px;
        background-color: orangered;
        border: none;
        border-radius: 4px;
        
       }

       /*styles for section-01  */

       .container-2nd{
        display: flex;
        margin-left: 100px;
        margin-top: 75px;
       }

       .text{
        margin-top: 300px;
        margin-right: 250px;
        margin-left: 100px;
       }

       .section-header{
        font-size: 40px;
        padding-right: 100px;
       }

       .list-type{
        list-style-type:none;

       }

       /* Styles for section My plan */

       .myplans{
        font-size: 35px;
        text-align: center;
        }

       .section-my-plan{
        display: flex;
        padding-top: 20px;
        padding-left:60px;
        padding-right: 60px;
        justify-content: space-evenly;
        }

        .hcenter{
            text-align: center;
            margin-top: 10px;
            font-size: 30px;
        }

        .pcenter{
            text-align: center;
            font-size: 25px;
            color: gray;
            margin-top: 0px;
            font-weight: bold;
            padding-top: 0%;
        }

         /* styles for watch banner */
        
        .watch-flex{
            display: flex;
            flex-direction: column;
            }    


        .icenter{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 120px;
        }

        .watch-blend{
            position: absolute;
            font-size: 50px;
            font-weight: bold;
            color:white;
            top: 2150px;
            margin-right: 600px;
            margin-left: 250px;
            text-align: left;
        }

        
        
       




   